<% unless @recommendation.nil? %>
	<div class="row">
		<div class="pull-right col-xs-12 col-md-2 text-center">
			<%= link_to  "New step",new_admin_recommendation_step_path(@recommendation), class: "btn btn-primary" %>
		</div>
	</div>
	<br>
	<% if @steps.size > 0 %>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Description</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<% for step in @steps %>
					<tr>
						<td><%= step.description.html_safe %></td>
						<td class="btn-rud">
							<%= link_to '<i class="glyphicon glyphicon-search"></i>'.html_safe, admin_step_path(step), class: "btn btn-default btn-show", data: {toggle: "tooltip"}, title: "View" %>
							<%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_admin_step_path(step), {class: "btn btn-default btn-edit", data: {toggle: "tooltip"}, title: "Edit"} %>
							<%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, {action: 'destroy', id: step}, {method: "delete", class: "btn btn-default btn-remove", data: {toggle: "tooltip", confirm: "Are you sure to delete: '" + step.description + "'?"}, title: "Delete"} %>        
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<%= actions_tooltip %>
		<div class="tablefooter clearfix">
			<div class="pagination">
			 
			</div>
		</div>
	<%else%>
		<p>No Steps found</p>
	<%end%>
<%end%>