<%case @int_page_type %>
	<% when 0 %>
		<div class="col-sm-offset-2 col-sm-2">
			<%= submit_tag("Save", disable_with: "Saving", class: "btn btn-primary")%> 
		</div>
	<% when 1 %>
		<div class="col-sm-offset-2 col-sm-2">
			<%= link_to "Edit", edit_admin_recommendation_path(@recommendation), class: "btn btn-primary" %> 
		</div>
	<%else%>
		<div class="col-sm-offset-2 col-sm-2">
			<%= submit_tag("Save", disable_with: "Saving", class: "btn btn-primary") %>
		</div>
		<div class="col-sm-2">
			<%= submit_tag("Undo changes", type: "reset", class: "btn btn-default") %>
		</div>
<%end%>
<div class="col-sm-2">
	<%= link_to "Cancel", admin_area_recommendations_path(@area), class: "btn btn-default"%>
</div>