<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @email %>!</h1>
    <p>Your Items:</p>
      <div style="width:700px;border:double 5px #000000;-moz-border-radius:20px;-webkit-border-radius:20px;border-radius:20px;-moz-box-shadow:inset 0px 0px 13px #000000;-webkit-box-shadow:inset 0px 0px 13px #000000;box-shadow:inset 0px 0px 13px #000000;text-align:center;">
      	<% RecommendationItem.find(@recommendation_items).each do |recommendation| %>
	        <div style="width:150px;margin:40px 30px;border:solid 1px #000;display:inline-block;position:relative;vertical-align:top;">
	          <div style="margin: 5px;height:30px;line-height:30px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
	          	<%= "#{recommendation.title}" %>
	          </div>
	          <div class="item_image">
	            <a href="http://www.amazon.com/dp/<%="#{recommendation.amazon_code}" %>"><%=image_tag recommendation.image_url, size: "100x100" %></a>
	          </div>
	          <div style="height:50px;border-top: solid 1px #000;line-height:50px">
	            <%= "#{recommendation.price}".html_safe %>
	          </div>
	        </div>
	    <% end %>
      </div>
  </body>
</html>