<legend class="title_border"> DASHBOARD </legend>	

<div class="icons">
	<ul>
		<li>
			<%= link_to image_tag("ic_esa_types.png", border: 0, size: "145x145") + "<span>ESA type</span>".html_safe, admin_esa_types_path %>
		</li>
		<li>
			<%= link_to image_tag("ic_esas.png", border: 0, size: "145x145") + "<span>ESA</span>".html_safe, admin_esas_path %>
		</li>
		<li>
			<%= link_to image_tag("ic_areas.png", border: 0, size: "145x145") + "<span>Area</span>".html_safe, admin_areas_path %>
		</li>
		<li>
			<%= link_to image_tag("ic_items.png", border: 0, size: "145x145") + "<span>Area item</span>".html_safe, admin_items_path %>
		</li>
		<li>
			<%= link_to image_tag("ic_recommendations.png", border: 0, size: "145x145") + "<span>Area recommendation</span>".html_safe, admin_recommendations_path %>
		</li>
		<li>
			<%= link_to image_tag("ic_steps.png", border: 0, size: "145x145") + "<span>Step</span>".html_safe, admin_steps_path %>
		</li>
		
	</ul>
</div>