<div class='checkbox expandable <%= "hide" if expanded == 1 %>'>
	<label>
		<% i = index.to_i
		items_per_groups = item.items_per_group(group_item_id)
		if item.energy_value.nil? %>
			<span class='glyphicon glyphicon-chevron-right'></span>
			<%= item.name %>
		<% else %>
			<%= check_box_tag item.id, 'yes', !items_per_groups.blank?, class: 'send_email' %><%= item.name %>
		<% end %>
	</label>
	<% unless item.max_sockets.nil?
		sockets = items_per_groups.first.sockets unless items_per_groups.blank? %>
		<div class='checkbox sockets hide'>Needs how many electrical sockets?<br>
			<% for j in 1..item.max_sockets %>
				<%= radio_button_tag("sockets_#{i}", j, sockets == j, :id => "sockets_#{j}_#{j*i}") %>
				<%= label_tag("sockets_#{j}_#{j*i}", j, :class => ('selected' if sockets == j)) %>
			<% end %>
		</div>
	<% i += 1
	end
	index.replace i.to_s
	for it in item.items %>
		<%= render partial: "front/areas/item_edit", locals: { item: it, index: index, expanded: 1, group_item_id: group_item_id } %>
	<% end %>
</div>