<div class="row"><div class="col-xs-12">
	<div class="dropdown text-center">
		<h1 class="title dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
			<%= recommendation.area.title %> <%= recommendation.name %>
			<span class="glyphicon glyphicon-chevron-down"></span>
		</h1>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			<% recommendations.each do |a|
				if a.id != recommendation.id %>
				<li role="presentation">
					<%= link_to [ route, :front, a], role: "menuitem", tabindex: "-1" do %>
						<h1><%= a.area.title %> <%= a.name %></h1>
					<% end %>
				</li>
				<% end %>
			<% end %>
		</ul>
	</div>
</div></div>