<% str_method = @int_page_type == 2 ? 'put' : 'post'%>
<% str_path = @int_page_type == 2 ? admin_esa_type_path : admin_esa_types_path %>

<div class="row">
  <%= form_for(@esa_type, url: str_path, method: str_method, html: {id: "form_esa_type", class: "form-horizontal", role: "form"}) do |f| %>
    <fieldset>
      <legend>Information</legend>
      <div class="form-group">
        <%= f.label :name, class: "col-sm-2 control-label" %>
        <%= set_label_obligatory(false) %>
        <div class="col-sm-8">
          <%= f.text_field :name, class: "form-control validate[#{set_validate(false)}]" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= render partial: "buttons" %>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>